.button-add-transaction line,
.approve-button line,
.show-sidemenu-button  {
    stroke-width: 2px;
    stroke: black;
}

.button-add-transaction {
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    right: 10%;
    border: 1px solid gray;
}

.show-sidemenu-button {
    z-index: 3;
    position: absolute;
    top: 5%;
    left: 5%;
}